.db-root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

/* //////////////////////////////////////////////////////////////////// */

.project-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
  margin: 5%;

  color: crimson;
  text-shadow: 0.02em 5px 20px black, 0.02em 5px 20px black;

  /* border: 3px solid;
  border-radius: 5px; */

  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: -webkit-transform 150ms cubic-bezier(.4, 0, 1, 1);
  transition: transform 150ms cubic-bezier(.4, 0, 1, 1);

  cursor: pointer;
}

.project-link > p {
  width: 40%;
  text-align: center;
  font-variant: petite-caps;
  font-weight: 500;
}

.project-link > i {
  padding: 4%;
  font-size: 3em;
}

.second-icon {
  position: absolute;
    right: 30px;
}

.second-icon, .first-icon {
  -webkit-transition: all .2s cubic-bezier(.4, 0, .2, 1);
  transition: all .2s cubic-bezier(.4, 0, .2, 1);
}
.second-icon, .project-link:hover .first-icon {
  opacity: 0;
  /* -webkit-transform: rotate(225deg);
  transform: rotate(225deg); */
}
.project-link:hover .second-icon {
  opacity: 1;
  visibility: visible;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
.project-link:hover p {
  text-decoration: underline;
}

/* //////////////////////////////////////////////////////////////////// */

.fancy-text {
  margin: 0.5em 0;
  /* font-family: "Helvetica Neue", sans-serif; */
  font-family: "Allerta Stencil", sans-serif;
  font-size: 5rem;
  /* color: #22313f; */
  color: #ffffff;
  text-align: center;
  /* text-transform: uppercase; */
  letter-spacing: 0.03em;
  text-shadow: -0.02em 0 0 #f22613, 0.02em 0 0 #00ffff;
}

/* //////////////////////////////////////////////////////////////////// */

.sub-text {
  animation: colorPulse 2s infinite ease-in-out;
  font-family: "Fira Mono", monospace;
  font-size: 1.8rem;
}

p:last-child:after {
  animation: blink 1s infinite;
  content: "_";
}

/* @keyframes colorPulse {
  0%,
  100% {
    color: #22313f;
  }
  48%,
  52% {
    color: #8b2d24;
  }
  50% {
    color: #ffffff;
  }
} */
@keyframes colorPulse {
  0%,
  100% {
    color: #ffffff;
  }
  25% {
    color: #ffffff;
  }
  27% {
    color: #00ffff;
  }
  29% {
    color: #f22613;
  }
  30% {
    color: #ffffff;
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}